<tr>
  <td><%= link_to question.body, question_path(question) %></td>
  <td><%= link_to 'Редактировать', edit_question_path(question) %></td>
  <td><%= link_to 'Удалить',
                  question_path(question),
                  method: :delete,
                  data: { confirm: 'Удалить вопрос?'} %></td>
</tr>
