<nav class="navbar nav-admin">
  <%= link_to t('.project'), root_path, class: "navbar-brand" %>
  <b>Test Guru Admin Panel</b>
  <span class="navbar-text">

    Welcome, <b><%= current_user.email %></b> Guru |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>

  </span>
</nav>
