<ul class="list-group list-group-flush">
  <div class="col col-md text-center">
  <li class="list-group-item"><%= image_tag badge.main_img, alt: badge.name %></li>
  <li class="list-group-item"><b><%= badge.name %></b></li>
</div>
</ul>
