<h2>Список Gists</h2>
<table class="table table-striped">
<tr>
  <th>Вопрос</th>
  <th>Адрес Gist</th>
  <th>Email пользователя</th>
  <th></th>
</tr>
<%= render @gists %>
</table>
<p><%= link_to 'Назад', admin_root_path %>
