<h2>Результаты теста</h2>
<p>Правильных ответов: <%= @test_passage.correct_answers %></p>
<p>Всего вопросов: <%= @test_passage.test.questions.count %></p>

<p>Результат: <%= test_passage_result_amount(@test_passage) %>
</p>
<p>
  <% if @test_passage.result < 85.0 %>
    <b>Вы не прошли тест</b>
  <% else %>
    <b>Вы успешно прошли тест</b>
  <% end %>
</p><br>
<%= link_to 'К списку тестов', tests_path %>
