<% if resource.errors.present? %>
<div>
  <h3><%= pluralize(resource.errors.count, 'error') %> detected:</h3>
  <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
