<ul>

  <li><%= link_to 'МОИ ДОСТИЖЕНИЯ', '#' %></li>
  <li><%= link_to 'ВСЕ ДОСТИЖЕНИЯ', badges_path %></li>
  <li><%= link_to 'ВСЕ ТЕСТЫ', tests_path  %></li>
  <li><%= link_to 'ОБРАТНАЯ СВЯЗЬ', pages_feedback_path  %></li>

</ul>
