<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td>
  <% if test.questions.count > 0 %>
  <%= button_to 'Начать', start_test_path(test) %>
  <% end %>
  </td>
</tr>
