<hr>
<%= year %> Владимир Казанцев
<%= github_url("v-kazantsev", "Test-guru") %>
 - Rails-приложение для управления тестами в различных областях знаний.
 <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", 'http://thinknetica.com' %></p>
